<div class="container-fluid px-2 px-lg-5 mb-1">
  <div class="my-4">
    <h5 class="fw-bold mb-0 fs-22">Welcome Back Ehsan</h5>
    <p class="text-grey fs-17">Here's what's happening with your store today.</p>
</div>
    <div class="row g-3">
        <div class="col-12 col-md-6">
            <div class="bg-secondary p-3 rounded-3">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <i class="ri-group-line text-primary fw-medium fs-5"></i>
                    <div class="fs-14 text-success fw-medium">+15.3% from last month</div>
                </div>
                <div>
                    <h2 class="fw-bold fs-18 mb-0 fw-medium">{{ total_Customers }}</h2>
                    <p class="mb-0 fs-14 text-gray fw-medium">Total Customers</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="bg-secondary p-3 rounded-3">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <i class="ri-megaphone-line text-primary fw-medium fs-5"></i>
                    <div class="fs-14 text-success fw-medium">+2 new this week</div>
                </div>
                <div>
                    <h2 class="fw-bold fs-18 mb-0 fw-medium">{{ total_cards }}</h2>
                    <p class="mb-0 fs-14 text-gray fw-medium">Active Campaign</p>
                </div>
            </div>
        </div>

        <!-- <div class="col-12 col-md-3">
            <div class="bg-secondary p-3 rounded-3">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <i class="ri-copper-coin-fill text-primary fw-medium fs-5"></i>
                    <div class="fs-14 text-success fw-medium">+8.3% from last month</div>
                </div>
                <div>
                    <h2 class="fw-bold fs-18 mb-0 fw-medium">1234</h2>
                    <p class="mb-0 fs-14 text-gray fw-medium">Rewards Redeemed</p>
                </div>
            </div>
        </div> -->
        <!-- <div class="col-12 col-md-3">
            <div class="bg-secondary p-3 rounded-3">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <i class="ri-coin-line text-primary fw-medium fs-5"></i>
                    <div class="fs-14 text-success fw-medium">+15.2% from last month </div>
                </div>
                <div>
                    <h2 class="fw-bold fs-18 mb-0 fw-medium">45678</h2>
                    <p class="mb-0 fs-14 text-gray fw-medium">Points Distributed</p>
                </div>
            </div>
        </div> -->
    </div>
    <div class="row g-3 mt-1">
      <!-- Card 1 -->
      <div class="col-sm-6">
        <div class="card shadow-sm rounded-3">
          <div class="card-body">
            <h5 class="fs-18 fw-semibold mb-3">Customer Growth</h5>
            <div class="bg-secondary bg-opacity-50 p-5 rounded-3 d-flex flex-column justify-content-center align-items-center text-gray card-height">
              <div class="mb-2">
                <svg width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor">
                  <path d="M3 3v18h18" stroke-width="2" />
                  <path d="M7 15l4-4 3 3 5-6" stroke-width="2" />
                </svg>
              </div>
              <small>Chart Placeholder</small>
            </div>
          </div>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="col-sm-6">
        <div class="card shadow-sm rounded-3">
          <div class="card-body">
            <h5 class="fs-18 fw-semibold mb-3">Reward Trends</h5>
            <div class="bg-secondary bg-opacity-50 p-5 rounded-3 d-flex flex-column justify-content-center align-items-center text-gray card-height">
              <div class="mb-2">
                <svg width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor">
                  <path d="M3 3v18h18" stroke-width="2" />
                  <path d="M7 15l4-4 3 3 5-6" stroke-width="2" />
                </svg>
              </div>
              <small>Chart Placeholder</small>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
