
.badge-icon { 
    width: 11px; 
    height: 11px; }

@media (max-width: 767.98px) {
  .fw-medium { font-size: 13px; }
}

::-webkit-scrollbar {
    display: none; 
}

.navbar-toggler:focus, .navbar-toggler:active { 
    outline: none; 
    box-shadow: none; 
}
.bm-table thead th {
  background: #f3f4f6;
  color: #111827;
  font-weight: 600;
  border: 0;
}

.pro {
  color: #f38200;
}
tr.border-bottom-0 td {
  border-bottom: none !important;
}
.btn-view:hover {
  background-color: #5F053A !important;
}

.btn-view:active {
  background-color: #420328 !important;
}

.bm-input:focus {
  box-shadow: none !important;    
  outline: none !important;       
  border-color: #860752;         
}
.btn-width{
  min-width: 120px;
}
@media (max-width: 576px) {
  .toolbar { gap: .75rem !important; }
  .badge-soft { font-size: .8rem; }
}

@media (max-width: 576px) {
  .d-flex.flex-wrap.align-items-center {
    flex-direction: column;
}
}
@media (max-width: 575.98px) {
  .fs-14 { 
    font-size: 12px !important;
  }
}

@media (max-width: 767.98px) {
  .fw-medium { font-size: 13px; }
}


.hover-bg-primary:hover,
.hover-bg-primary:focus,
.hover-bg-primary:active {
  background-color: var(--bs-primary) !important;
  color: #fff !important;
}

.hover-bg-primary:hover i,
.hover-bg-primary:focus i,
.hover-bg-primary:active i {
  color: #fff !important;
}
