.form-control::placeholder {
  color: #979696;
  opacity: 1;
}
.form-control:focus {
  border-color: var(--bs-primary);
}

.nav-pills .nav-link {
  background-color: #e6e6e6;
  border: 1px solid #dee2e6;
  color: #6c757d;                 
}
.nav-pills .nav-link:focus-visible {
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(var(--bs-primary-rgb), .25);
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link,
.nav-pills .nav-link[aria-selected="true"] {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  color: #fff;                    
}
.nav-pills .nav-link.active:focus-visible {
  box-shadow: 0 0 0 .25rem rgba(var(--bs-primary-rgb), .4);
}

@media (max-width: 575.98px) {
  #settingsTabs .nav-link {
    font-size: 14px !important;
    padding: .25rem .5rem;    
  }
  #settingsTabs .nav-link i {
    font-size: 14px;             
  }
}
