<div class="bg-light d-flex justify-content-center align-items-center vh-100">

  <div class="card shadow-sm border-0 form-width w-100">
    <div class="card-body text-center">
   <div class="rounded-circle bg-primary bg-opacity-25 d-inline-flex justify-content-center align-items-center mb-5 close-icon">
        <span class="text-primary fs-1"><i class="ri-close-line"></i></span>
      </div>
     <p class="text-muted ">Please try another payment method or contact your bank.</p>
    </div>
<!-- decine button -->
    <div class="card-footer bg-white text-center border-0 mb-2">
      <button class="btn btn-danger w-100">Decline</button>
    </div>
  </div>

</div>