html, body {
  width: 100%; height: 100%;
  margin: 0; padding: 0;
}
.auth-form 
{ max-width: 400px; 
}
.auth-illustration {
  background: url('../../../../public/images/image-bg.png') no-repeat center center / cover;
}
.auth-illustration-img {
  left: 50%; 
  top: 38%;
  transform: translate(-50%, -50%);
  width: 80%;
  transition: all 0.3s ease-in-out;
}
.auth-illustration-caption {
  bottom: 40px; left: 0; right: 0;
  // padding: 0 16px;
}
.eye-icon {
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
}
.form-control.is-invalid { 
 background-image: none !important; 
}
.form-control::placeholder 
{ 
    color: #D2D2D2; opacity: 1; 
}
.form-control:focus {
  border-color: var(--bs-primary);
}
.btn-primary { background-color: var(--bs-primary); }
.btn-primary:hover { background-color: var(--bs-primary-hover); border-color: var(--bs-primary-hover); }
.btn-primary:active { background-color: var(--bs-primary-active); border-color: var(--bs-primary-active); }
@media (max-width: 991.98px) { .auth-illustration { display: none; } }
@media (min-width: 1400px)   { .auth-illustration-img { top: 45%; } }

.custom-hover:hover { color: var(--bs-primary-hover) !important; }
.custom-hover:active { color: var(--bs-primary) !important; }