<div class="auth-wrapper bg-white vw-100 vh-100">
  <div class="row g-0 w-100 h-100">

    <div class="col-lg-7 d-none d-lg-block position-relative overflow-hidden h-100 auth-illustration">
      <img class="auth-illustration-img position-absolute h-auto object-fit-contain w-50" src="images/image.png"
        alt="Illustration">
      <div class="auth-illustration-caption position-absolute text-center mb-3">
        <h3 class="text-primary fw-bold mb-0">Build loyalty. Boost growth</h3>
        <p class="text-primary fs-18 m-0">Empower your business with a smarter reward system.</p>
      </div>
    </div>

    <div
      class="col-lg-5 d-flex align-items-start align-items-lg-center justify-content-center bg-white px-3 px-lg-0 py-4 py-lg-0 min-vh-100">
      <div class="auth-form w-100 my-0 my-lg-auto">

        <div class="text-center mb-3">
          <div class="mb-4 fw-bold text-black fs-20 mb-7">Logo here</div>
          <h2 class="fw-bold text-black mb-1 fs-19">Set a New Password</h2>
          <p class="fw-normal fs-17">A new password for smarter protection</p>
        </div>

        <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>

          <div class="mb-3">
            <label for="password" class="form-label fw-medium text-grey fs-15 mb-0">New Password</label>
            <div class="position-relative input-with-icon">
              <input [type]="showPassword ? 'text' : 'password'" id="password" formControlName="password"
                class="form-control fs-14 py-3 shadow-none ps-2 pe-5" placeholder="••••••••" autocomplete="new-password"
                [class.is-invalid]="password.touched && password.invalid" />
              <i class="text-primary cursor-pointer position-absolute fs-16 eye-icon"
                [ngClass]="showPassword ? 'ri-eye-line' : 'ri-eye-off-line'" (click)="toggle('password')" role="button"
                tabindex="0"></i>
            </div>
            <div class="d-block text-primary fs-14" *ngIf="password.touched && password.invalid">
              <div *ngIf="password.errors?.['required']">Password is required</div>
              <div *ngIf="password.errors?.['minlength']">Minimum 8 characters required</div>
            </div>
          </div>

          <div class="mb-6">
            <label for="confirmPassword" class="form-label fw-medium text-grey fs-15 mb-0">Confirm Password</label>
            <div class="position-relative input-with-icon">
              <input [type]="showConfirm ? 'text' : 'password'" id="confirmPassword" formControlName="confirmPassword"
                class="form-control fs-14 py-3 shadow-none ps-2 pe-5" placeholder="••••••••" autocomplete="new-password"
                [class.is-invalid]="(confirmPassword.touched && confirmPassword.invalid) || passwordMismatch" />
              <i class="text-primary cursor-pointer position-absolute fs-16 eye-icon"
                [ngClass]="showConfirm ? 'ri-eye-line' : 'ri-eye-off-line'" (click)="toggle('confirm')" role="button"
                tabindex="0"></i>
            </div>
            <div class="d-block text-primary fs-14"
              *ngIf="(confirmPassword.touched && confirmPassword.invalid) || passwordMismatch">
              <div *ngIf="confirmPassword.errors?.['required']">Confirmation required</div>
              <!-- <div *ngIf="confirmPassword.errors?.['minlength']">Minimum 6 characters required</div> -->
              <div *ngIf="passwordMismatch">Passwords do not match</div>
            </div>
          </div>

          <button class="btn btn-primary text-secondary w-100 fs-16 py-3 fw-bold border-0" type="submit"
            [disabled]="loading">
            <i class="ri-arrow-left-right-line me-2" *ngIf="!loading"></i>
            <span *ngIf="!loading">Change Password</span>
            <span *ngIf="loading">
              <i class="spinner-border spinner-border-sm me-2"></i>
            </span>
          </button>

        </form>
      </div>
    </div>

  </div>
</div>