<div class="auth-wrapper bg-white vw-100 vh-100">
  <div class="row g-0 w-100 h-100">
    <div class="col-lg-7 d-none d-lg-block position-relative overflow-hidden h-100 auth-illustration">
      <img class="auth-illustration-img position-absolute h-auto object-fit-contain w-50" src="images/image.png"
        alt="Illustration">
      <div class="auth-illustration-caption position-absolute text-center mb-4">
        <h3 class="text-primary fw-bold mb-0">Build loyalty. Boost growth</h3>
        <p class="text-primary fs-18 m-0">Empower your business with a smarter reward system.</p>
      </div>
    </div>

    <div
      class="col-lg-5 d-flex align-items-start align-items-lg-center justify-content-center bg-white px-3 px-lg-0 py-4 py-lg-0 min-vh-100">
      <div class="auth-form w-100 my-0 my-lg-auto">

        <div class="text-center mb-4">
          <div class="mb-4 fw-bold text-black fs-20 mb-7">Logo here</div>
          <h2 class="fw-bold text-black mb-1 fs-19">Reset to Reconnect</h2>
          <p class="mb-0 fw-normal fs-17">Recover your access and continue smarter</p>
        </div>

        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" (keydown.enter)="onSubmit()" class="needs-validation"
          novalidate>
          <div class="mb-6">
            <label for="email" class="form-label fw-medium text-gray fs-16 mb-0">Email</label>
            <input id="email" type="email" formControlName="email" class="form-control fs-14 py-3 shadow-none ps-2"
              placeholder="mail@abc.com" autocomplete="email" [class.is-invalid]="email.touched && email.invalid"
              (keydown.enter)="onSubmit()" />

            <div class="d-block text-primary fs-14" *ngIf="email.touched && email.invalid">
              <div *ngIf="email.errors?.['required']">Email is required</div>
              <div *ngIf="email.errors?.['email'] || email.errors?.['pattern']">
                Please enter a valid email
              </div>
            </div>
          </div>

          <!-- <button class="btn btn-primary text-secondary w-100 fs-16 py-3 fw-semibold border-0" type="submit">
            <i class="ri-refresh-line me-1" *ngIf="!loading"></i>
            <span *ngIf="!loading">Reset your Account Password</span>
            <span *ngIf="loading">
              <i class="spinner-border spinner-border-sm me-2"></i>
            </span>
          </button> -->
          <div *ngIf="loading" class="spinner-container">
            <i class="spinner-border spinner-border-lg"></i>
          </div>

          <button *ngIf="!loading" class="btn btn-primary text-secondary w-100 fs-16 py-3 fw-semibold border-0"
            type="submit">
            <i class="ri-refresh-line me-1" *ngIf="!loading"></i>
            <span *ngIf="!loading">Reset your Account Password</span>
            <span *ngIf="loading">
              <i class="spinner-border spinner-border-sm me-2"></i>
            </span>
          </button>


        </form>


        <p class="text-center text-gray fs-16 mt-7">
          Back to
          <a [routerLink]="['/login']"
            class="text-primary fw-normal cursor-pointer text-decoration-none hover-underline custom-hover">
            Login
          </a>
        </p>
      </div>
    </div>

  </div>
</div>